/* Global settings */

* {
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 600;
    transition: .4s;
}

:root[theme="dark"] {
    --bg1-colour: #282828;
    --bg2-colour: #3c3836;
    --bg3-colour: #504945;
    --bg4-colour: #665c54;
    --grey-colour: #7c6f64;
    --main-colour: #d65d0e;
    --main-colour-light: #fe8019;
    --text-colour: #fbf1c7;
}

:root[theme="light"] {
    --bg1-colour: #fbf1c7;
    --bg2-colour: #ebdbb2;
    --bg3-colour: #d5c4a1;
    --bg4-colour: #bdae93;
    --grey-colour: #a89984;
    --main-colour: #d65d0e;
    --main-colour-light: #af3a03;
    --text-colour: #282828;
}

body {
    padding: 10px;
    margin: 0;
    background: var(--bg2-colour);
}

.block {
    display: block;
}

.wide {
    width: 80%;
}

.right {
    float: right;
}

.left {
    float: left;
}

/* Style the top navigation bar */

.topnav {
    overflow: hidden;
    background-color: var(--bg1-colour);
    border: 1px solid black;
    box-shadow: 5px 5px;
    padding: 0px 20px;
}

.topnav a {
    min-width: 120px;
    display: inline-block;
    color: var(--text-colour);
    text-align: center;
    text-decoration: none;
    padding: 20px;
    margin: 10px auto;
    border-radius: 4px;
}

.topnav a:hover {
    background-color: var(--bg2-colour);
    color: var(--main-colour);
}

.label {
    width: 50px;
    padding: 10px;
    margin: 0px 10px;
    color: var(--text-colour);
}

/* Footer */

.footer {
    overflow: hidden;
    padding: 15px;
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px;
    width:99%;
    border: 1px solid black;
    box-shadow: 5px 5px;
    background-color: var(--bg1-colour);
}

.zulu-github {
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
    padding: 20px;
    text-decoration: none;
    color: var(--text-colour);
}

/* Theme Switcher */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  top: 5px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--main-colour);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--main-colour);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 

/* Form Stylings */

.form-input{
    width: 100%;
    display: block;
}

.form-div {
    justify-content: center;
    text-align: center;
    margin: 20px auto;
    width: 50%;
    padding: 5%;
    position: absolute;
    top: 15%;
    left: 25%;
    background: var(--bg1-colour);
    border: 1px solid black;
    box-shadow: 5px 5px black;
    color: var(--text-colour);
}


input[type=text],input[type=number],input[type=password],select {
    padding: 12px 20px;
    margin: 2px auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Search Bar */

.search {
    background-color: var(--main-colour);
    color: var(--text-colour);
    padding: 12px 20px;
    margin: 2px 2px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search:hover {
    background-color: var(--main-colour-light);
}

.search-result {
    border-radius: 5px;
    background-color: var(--bg1-colour);
    border: 1px solid;
    border-color: black;
    box-shadow: 5px 5px black;
    padding: 20px;
    margin: 10px auto;
    display: grid;
    text-align: center;
    text-transform: capitalize;
    color: var(--text-colour);
}   

.search-div {
    justify-content: center;
    text-align: center;
    margin: 20px auto;
    padding: 5%;
}

.one {
    grid-column: 1;
    grid-row: 1;
    font-weight: 500;
    padding: 20px;
}

.two {
    grid-column: 2;
    grid-row: 1;
    font-weight: 500;
    padding: 20px;
}

.three {
    grid-column: 3;
    grid-row: 1;
    margin: auto;
    font-weight: 500;
    background-color: var(--main-colour);
    color: black;
    text-decoration: none;
    padding: 20px;
    border-radius: 5px;
}

.three:hover {
    background-color: var(--main-colour-light);
}

.button {
    width: 100%;
    display: flex;
    background-color: var(--main-colour);
    color: var(--text-colour);
    padding: 12px 20px;
    margin: 2px auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: var(--main-colour-light);
}

/* Leaderboard Style */

.leaderboard {
    border-radius: 5px;
    background-color: var(--main-colour);
    padding: 20px;
    margin: 10px auto;
    border: 1px solid black;
    box-shadow: 5px 5px black;
}

.leaderboard-div {
    justify-content: center;
    text-align: center;
    margin: 20px 20%;
    padding: 2%;
    background: var(--bg1-colour);
    border: 1px solid black;
    box-shadow: 5px 5px black;
    color: var(--text-colour);
}

/* Menu items */

.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--bg1-colour);
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    text-decoration: none;
    display: block;
    text-align: center;
    margin: 0px;
    padding: 20px;
}

.dropdown-content a:hover {
    background-color: var(--bg2-colour);
    color: black;

}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Challenge template styles */

.challenge-div {
    display: grid;
    grid-template-columns: 600px  auto 400px 200px; 
    grid-template-rows: 200px 300px auto;
    border: 1px solid black;
    box-shadow: 5px 5px black;
    margin: 30px auto;
    padding: 30px;
    width: 90%;
    background-color: var(--bg1-colour);
    color: var(--text-colour);
}

.image {
    grid-row: 1/2;
    grid-column: 3/5;
    border: 2px solid black;
    width: 100%;
}

.challenge-title {
    grid-row: 1;
    grid-column: 1/2;
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
    padding: 50px 0;
}

.submit-challenge {
    grid-row: 3;
    grid-column: 3/5;
    text-align: center;
}

.download-button {
    grid-row: 3;
    grid-column: 1;
    background-color: var(--main-colour);
    color: var(--text-colour);
    border: none;
    border-radius: 4px;
    margin: 0px auto;
    cursor: pointer;
    width: 100%;
    justify-content: center;
}

.download-button button {
    height: 100%;
}

.challenge-description {
    grid-row: 2;
    grid-column: 1;
    text-align: center;
}

.string-input {
    display: inline;
    width: 70%;
}

.submit-button {
    width: 30%;
    display: inline;
    background-color: var(--main-colour);
    color: var(--text-colour);
    padding: 12px 20px;
    margin: 2px auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* File Upload */
input[type="file"] {
    display: none;
}

.upload{
    width: 100%;
    height: 100%;
    border: 1px dashed #ccc;
    border-width: 2px;
    border-radius: 4px;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.upload-div {
    text-align: center;
    border: 1px solid black;
    box-shadow: 5px 5px black;
    margin: 30px auto;
    padding: 30px;
    width: 50%;
    background-color: var(--bg1-colour);
    color: var(--text-colour);

}

.upload-button{
    display: inline;
    margin: 20px auto;
    cursor: pointer;
    background-color: var(--main-colour);
    color: var(--text-colour);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
}

.upload-form {
    display: inline-block;
    width: 400px;
    height: 400px;
}

.upload-form i{
    font-size: 16rem;
    padding: 10px;
}

.upload-point {
    margin: 0px 0px 10px 0px;
}
